
.glide__slide img {
    width: flex;
}

.glide {
    width:100%;
    padding: 20px;
}

.glide img {
    height: 400px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9d9696;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.component {
    display: inline-block;
}