<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="static/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='glide.core.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='glide.theme.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <title>Glide</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='IMG/WE_fairy.png') }}" width="50" height="50"/>
        </a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>