{% extends "base.html" %}
{% block content %}    
    <h1> Welcome To Our Token Page </h1>
    <p>Join our Crowdsale by purchasing KikeCoin! Purchasing our tokens raises money for a great cause and in return you recieve a discount to purchase items from our marketplace along with a free WE T-shirt</p>
    <div class="alert alert-primary" role="alert">
        All proceeds are donated to the NEEMA PROJECT. Click here to learn more <a href="#" class="alert-link">https://www.neemaproject.org</a>.
      </div>
    
    <img src="{{ url_for('static', filename='IMG/KikeCoin.jpg') }}" />
    <img src="{{ url_for('static', filename='IMG/WE_logo_shirt.png') }}" />
   
{% endblock %}